<label>Show Rendered Content
  {{input type="checkbox" name="showRenderedContent" checked=showRendered}}
</label>

<div>
  {{#if showRendered}}
    {{ markdown-to-html markdown=note.content }}
  {{/if}}
</div>
