<div class="note-list-item">
  {{#link-to 'notes.note' note class="list-group-item"}}

  <h4 class="list-group-item-heading">{{note.id}}</h4>
  <p class="list-group-item-text">{{truncate-note note.content}}</p>
  {{/link-to}}

</div>
