<h3>{{model.id}}</h3>

<div class="note-body">
  <p>{{model.content}}</p>
</div>

{{textarea value=model.content class="form-control"}}

{{#if model.hasDirtyAttributes}}
  <button class="btn btn-primary" {{action 'saveNote' on='click'}}>Save Note</button>
{{/if}}
